/* Site-wide styles */
body,
html {
    min-height: 100%;
}

body {
    color: #696969;
    padding-bottom: 10px;
}

.main-content {
    margin-top: 100px;
    margin-bottom: 200px;
}

a {
    color: #004225;
}

a:hover {
    color: #011f12;
    text-decoration: none;
}

#home-bg {
    margin-bottom: 0;
}

/* Navbar */

.navbar {
    background-color: #FFFFFF;
    color: #696969;
}

#plant-swap-logo {
    height: 50px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline-color: #d3d3d3;
    outline-width: thin;
}

/* Footer */

footer {
    background-color: #FFFFFF;
    color: #696969;
}

footer a {
    color: #696969;
    text-decoration: none;
}

footer a:hover {
    color: #004225;
    text-decoration: none;
}

#footer-text {
    text-align: left;
}

#footer-social {
    text-align: center;
}

#footer-social li {
    font-size: 35px;
    width: 30px;
    padding: 12px 0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    text-rendering: optimizeLegibility;
}



/* Images */
.plant-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

#background-image {
    height: 70vh;
    background-image: url("../images/plant-swap-bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
}

/* Buttons */
.btn-outline-success {
    color: #004225;
    border-color: #004225;
}

.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:focus,
.btn-outline-success:active:focus {
    background-color: #004225;
    border-color: #004225;
    color: #ffffff;
}

/* Posts */
.card-footer {
    background-color: #004225;
    color: #ffffff;
    opacity: 0.5;
}

/* Jumbotron  */

.jumbotron {
    background-color: #FFFFFF;
    opacity: 0.9;
    margin-top: 100px;
    padding: 30px;
}

@media (min-width: 768px) {
    .jumbotron {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        font-size: 30px;
    }
}

/* Text and buttons that appear when there are no results from the filter 
on the posts page */

@media (min-width: 768px) {
    .no-results {
        margin-top: 20px;
        margin-bottom: 100px;
    }
}

@media (min-width: 992px) {
    .no-results {
        margin-top: 20px;
        margin-bottom: 300px;
    }
}

/* Register text on Home Page */

#reg-text {
    font-size: 9px;
}

#reg-text a {
    color: #004225;
}

@media (min-width: 768px) {
    #reg-text {
        font-size: 12px;
    }
}

/* Error text styling */

.error {
    color: #FF0000
}

.error-link {
    text-decoration: underline;
    color: #FF0000
}

.error-link:hover {
    color: #991c1c;
    text-decoration: underline;
}