{% extends "base.html" %}
{% block content %}
<main class="container main-content">
    <!-- Shows a message if user doesn't have any posts-->
    {% if number_posts == 0 %}
    <div class=" row no-results">
        <h4 class="mt-5 mx-auto text-center col-8"> You don't have any posts yet. &#128546; You can either create a new
            post or have a look at the available swaps:</h4>
        <div class="text-center mt-5 mx-auto col-md-8">
            <a href=" {{url_for('add_post')}}" class="btn btn-outline-success btn-lg mb-2">Add Post</a>
            <a href="{{url_for('get_posts')}}" class="btn btn-outline-info text-right btn-lg mb-2">See All Posts</a>
        </div>
        <div class="row text-center mt-1 mx-auto col-md-8">
            <button type="button" class="btn btn-outline-danger mx-auto btn-lg" data-toggle="modal"
                data-target="#deleteConfirmation">Delete Account</button>
        </div>
    </div>
    {% else %}
    <!-- All posts from user -->
    <div class="row mx-auto">
        <h4>{{ session["username"]}}'s Posts</h4>
    </div>
    <div class="row">
        {% for post in posts|sort(attribute='date_posted', reverse = True) %}
        {% if session["email"] == post.email %}
        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card mt-3">
                <img src="{{post.plant_image}}" alt="{{post.plant_name}}" class="plant-image mx-auto card-img-top" />
                <div class="card-body">
                    <p class="text-center">

                        <p class="card-text"><strong>Offering</strong>: {{post.plant_name}}</p>
                        <p class="card-text"><strong>Looking for</strong>: {{post.looking_for}}</p>
                        <p class="card-text"><strong>Location</strong>: {{post.location}}</p>
                        <div class="text-center">
                            <a href="{{url_for('edit_post', post_id=post._id)}}"
                                class="btn btn-outline-success text-right">Edit</a>
                        </div>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        {{post.date_posted}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- End of posts -->
    <!-- Delete button to delete account-->
    <div class="row">
        <button type="button" class="btn btn-outline-danger mx-auto mt-5" data-toggle="modal"
            data-target="#deleteConfirmation">Delete Account</button>
    </div>
    {% endif %}
</main>
<!--Modal that pops up to confirm that user wants to delete account-->
<div class="modal" tabindex="-1" role="dialog" id="deleteConfirmation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to delete your account?</h5>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Cancel</button>
                <a href='{{url_for('remove_account', email=session["email"])}}'
                    class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal -->

{% endblock %}