{% extends "base.html" %}
{% block content %}
<main class="container-fluid main-content" id="home-bg">
    <div id="background-image">
        <div class="row">
            <div class="jumbotron col-6 mx-auto">

                <p class="text-center">Swap your old plants for new ones with others in your area.</p>
                <div class="text-center">
                    <a class=" d-sm-none btn btn-outline-success btn-sm" href="{{url_for("login")}}"
                        role="button">Login</a>
                    <a class="d-none d-sm-inline btn btn-outline-success btn-lg" href="{{url_for("login")}}"
                        role="button">Login</a>
                    <a class="d-none d-md-inline btn btn-outline-success btn-lg" href="{{url_for("about")}}"
                        role="button">Learn More</a>
                    <small id="reg-text" class="form-text text-muted mt-2">Don't have an account? <a
                            href="{{url_for("register")}}">Sign up here</a>.</small>
                </div>
            </div>
        </div>

</main>
{% endblock %}