{% extends "base.html" %}
{% block content %}
<main class="container main-content">
    <div class="row">
        <form action="{{  url_for('filter_posts') }}" method="POST" class="mx-auto form-inline mt-3">
            <div class="form-group mb-2 mx-2">
                <select class="form-control" id="location" name="location" required>
                    <option value="">Your Country</option>
                    {% for country in countries|sort(attribute='country') %}
                    <option value="{{country.country}}">{{country.country}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-outline-success mb-2 mx-auto">Filter</button>
        </form>
    </div>
    {% if number_results == 0 %}
    <h4 class="mt-5 mx-auto text-center"> There are no swaps available in your area. &#128546; If you still want a new
        plant, please create a new post:
    </h4>
    <div class="text-center mt-5 mx-auto">
        <a href=" {{url_for('add_post')}}" class="btn btn-outline-success btn-lg">Add Post</a>
        <a href="{{url_for('get_posts')}}" class="btn btn-outline-info text-right btn-lg">See All Posts</a>
    </div>
    {% endif %}
    <div class="row">
        {% for post in posts|sort(attribute='date_posted', reverse = True) %}
        <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card mt-3">
                <img src="{{post.plant_image}}" alt="{{post.plant_name}}" class="plant-image mx-auto card-img-top" />
                <div class="card-body">
                    <p class="text-center">

                        <p class="card-text"><strong>Offering</strong>: {{post.plant_name}}</p>
                        <p class="card-text"><strong>Looking for</strong>: {{post.looking_for}}</p>
                        <p class="card-text"><strong>Location</strong>: {{post.location}}</p>
                        <div class="text-center">
                            <a href="mailto:{{post.email}}" class="btn btn-outline-success">Get in touch</a>
                            <a href="{{url_for('edit_post', post_id=post._id)}}"
                                class="btn btn-outline-info text-right">Edit</a>
                        </div>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        {{post.date_posted}}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>

</main>
{% endblock %}