{% extends "base.html" %}
{% block content %}


<div class="row">
    {% for post in posts %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card mt-3">
            <img src="{{post.plant_image}}" alt="{{post.plant_name}}" class="plant-image card-img-top" />
            <div class="card-body">
                <h5 class="card-title">{{post.plant_name}}</h5>
                <p class="card-text"><strong>Looking for</strong>: {{post.looking_for}}</p>
                <p class="card-text"><strong>Location</strong>: {{post.location}}</p>
            </div>
            <div class="card-footer text-muted">
                {{post.date_posted}}
            </div>
        </div>
    </div>
    {% endfor %}


</div>


{% endblock %}